In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

import matplotlib as mpl
mpl.rcParams['figure.dpi'] = 150

In [3]:
gdp = pd.read_csv('assets/gdp.csv', skiprows=4)

In [5]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,NaN

In [7]:
gdp.query('`Country Name` in ["China", "Japan", "United States"]')

SyntaxError: invalid syntax (<unknown>, line 1)

In [11]:
gdp.iloc[38]

Country Name                  China
Country Code                    CHN
Indicator Name    GDP (current US$)
Indicator Code       NY.GDP.MKTP.CD
1960                    5.97165e+10
1961                    5.00569e+10
1962                    4.72094e+10
1963                    5.07068e+10
1964                    5.97083e+10
1965                    7.04363e+10
1966                    7.67203e+10
1967                    7.28816e+10
1968                    7.08465e+10
1969                    7.97059e+10
1970                     9.2603e+10
1971                     9.9801e+10
1972                    1.13688e+11
1973                    1.38544e+11
1974                    1.44182e+11
1975                    1.63432e+11
1976                     1.5394e+11
1977                    1.74938e+11
1978                    1.49541e+11
1979                    1.78281e+11
1980                    1.91149e+11
1981                    1.95866e+11
1982                     2.0509e+11
1983                    2.30687e+11
1984                    2.59947e+11
1985                    3.09488e+11
                        ...
1991                    3.83373e+11
1992                    4.26916e+11
1993                    4.44731e+11
1994                    5.64325e+11
1995                    7.34548e+11
1996                    8.63747e+11
1997                    9.61604e+11
1998                    1.02904e+12
1999                      1.094e+12
2000                    1.21135e+12
2001                     1.3394e+12
2002                    1.47055e+12
2003                    1.66029e+12
2004                    1.95535e+12
2005                    2.28597e+12
2006                    2.75213e+12
2007                    3.55034e+12
2008                    4.59431e+12
2009                     5.1017e+12
2010                    6.08716e+12
2011                     7.5515e+12
2012                    8.53223e+12
2013                    9.57041e+12
2014                    1.04385e+13
2015                    1.10155e+13
2016                    1.11379e+13
2017                    1.21435e+13
2018                    1.36082e+13
2019                            NaN
Unnamed: 64                     NaN
Name: 38, Length: 65, dtype: object