In [1]:
def apply(f, *args):
    return f(*args)

In [2]:
def comp2(f, g):
    return lambda x : f(g(x))

In [3]:
def double(x):
    return x*2

def inc(x):
    return x+1

In [5]:
comp2(double, inc)(5)

12

In [6]:
double_inc = comp2(double, inc)
inc_double = comp2(inc, double)

In [7]:
double_inc(6)

14

In [8]:
inc_double(6)

13

In [11]:
l = [ -2,-1,0,1,2]

In [12]:
list(map(abs,l))

[2, 1, 0, 1, 2]

In [14]:
list(map(lambda x: x*x,l))

[4, 1, 0, 1, 4]

In [15]:
from functools import reduce

In [16]:
lst2 = [ 1, 2, 4, 9, 12]

In [17]:
reduce(lambda x,y:x+y, lst2)

28

In [20]:
a = range(1,10)
mymap = map(lambda x: x*x, a)
list1 = list(mymap)
list2 = list(mymap)

print(list1)
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]